    body {
    background-color: "ffffff" background-size: cover;
    background-position: center;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    color: white;
}

.typewrite{
    color:#fff;
    text-decoration: none;
    font-size: 2em;
}
#h1name {
    font-weight: 400;
    font-size: 3em;
    letter-spacing: 7px;
}



.content {
    padding-top: 20%;
    padding-bottom: 20%
}

#home {
    background: url(../img/homebg1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative !important;
    background-repeat: no-repeat;
}

.btn,
.btn:focus,
.btn.active {
    border-style: none;
    border-radius: 25px;
    background-color: #c000ff;
    background-image: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 120px;
}

.porfoliobtn {
    color: #ffffff;
    background-color: #c000ff;
    margin-top: 2%;
}

.headings {
    padding-top: 10%;
    color: #c000ff;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.5em;
    text-align: left;
}

.aboutp {
    color: #1c232e;
    line-height: 180%;
    font-weight: 400;
    text-align: justify;
}

#about {
    background-image: url(../img/aboutbg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}

.services-light {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #ebebee;
    text-align: center;
}

.service-head {
    padding-top: 5%;
    margin: -21% 6% 0 6%;
    width: 87.5%;
    color: #c000ff;
    text-align: center;
}

#services {
    background-color: #f4f4f7;
}

.services {
    margin-left: -15px;
    margin-right: -15px;
}

.service-detail {
    background-color: transparent;
    padding: 3% 3% 5% 3%;
    ;
    color: #272727;
    text-align: left;
}

.service-detail:hover {
    background-color: #ffffff;
    color: #272727;
}


/*Carousel*/

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #fff;
}

#quote-carousel .carousel-indicators .active {
    background: #c000ff;
    border-style: none;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.feedback {
    color: #c000ff;
    padding-top: 5%;
    text-align: left;
    padding-left: 0;
    background-color: #1d242f;
}

.feedback-content {
    background-color: #1d242f;
    width: 100%;
}

.control {
    color: #fff;
    background-color: #fff;
    opacity: 100;
    padding left: 20%;
    padding right: 20%;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.portfolio-head {
    color: #c000ff;
    padding-top: 5%;
    text-align: left;
    padding-left: 0;
    background-color: #fff;
}


/*Portfolio Images*/

.port-container {
    position: relative;
}

.port-image {
    position: relative;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #c000ff;
    overflow: hidden;
    width: 60%;
    transition: fade 5s ease;
    opacity: 0.8;
}

.port-container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 50%;
    font-size: 11px;
}

.visit-site {
    margin-top: 8%;
    color: #c000ff;
    background-color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.visit-site,
.visit-site:focus,
.visit-site.active {
    border-style: none;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 80px;

    /*Contact*/
    .form-group{
        width: 100%;
            background-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    padding: 1px 5px;
    width: 100%;
    }

textarea.form-control {
    background-color: transparent !important;
    border-bottom-style: solid;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    padding: 1px 5px;
    width: 100%;
}

.botom{
    background-color: #fff;
    width: 100%;
}


